.vs/
.idea/
*.dll
*.unitypackage
*.iml
*.iml.meta
build.meta
/build/
**/Output~/
/Out/
/Temp/
.DS_Store

# Infra
*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Vscode 
.vscode

# CSharp Server SDK files
# Keep txt.metas and cs.metas, because Unity won't generate these.
# The release packaging process adds the CSharp Server SDK files to the package without opening Unity, so .metas must exist.
# Unity treats tarbell packages as immutable, so it won't generate metas even after the package is installed.
/GameLiftServerSDK/release-notes/*.txt
/GameLiftServerSDK/Runtime/Core/Server/**/*.cs
/GameLiftServerSDK/Runtime/Core/Common/**/*.cs
